/*@media screen and (max 1200px) {*/
    /*border-bottom-color: black;*/
/*}*/

.container {
    margin:0 auto;
    width:100%;
    max-width:1200px;
}


.column   {
    width: 100%;
    background-color: lightblue;
}


.row:after  {
    content: '';
    display: table;
    clear: both;
}


.header {
    float: left;
    padding: 10px;
    border: 2px solid black;
    box-sizing: border-box;

}


.column.one-half {
    width: 50%;
    float: left;

}



.column.one-third{
    width: 33.33%;
    background-color: lightgoldenrodyellow;
    float: left;
}
.column.one-fourth {
    width:25%;
    background-color: lightgreen;
    float: left;
}

.column.one-eight  {
    width:12.5%;
    background-color: lightsteelblue;
    float: left;
}