.fancy-header{
    color:floralwhite;
    text-align: center;
}
h2 {
    color: ghostwhite;
    text-decoration: underline;
}

body {
    background-image: url(../img/lightmetal.jpg);
    background-repeat: repeat-y;

}

h1:hover {
     text-decoration: underline;
     color: black;

 }

ul li {
    list-style-type: square;


}
ol li {
    list-style-type: disc;
}
body {
    font-family: 'Anton', sans-serif;
    color: whitesmoke;
}
header  {
    text-align: center;
}
table {
    color: black

;
}
a:link{
    color: green;
}
a:active{
    color: red;
}
a:hover {
    color: blue;
}
 .center{
    text-align: center;
}
 ul,ol  {
     list-style-position: inside;
 }